<header>
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
              <img src="./img/logo.gif" alt="Логотип">
              <a href="index.html">                 
                <h1>Гриднев Харитонов и партнеры</h1>
                <h5>Коллегия адвокатов</h5>                    
              </a>
            </div>
            <div class="header-nav">
                <nav>
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">О коллегии</a><i class="icon-triangle"></i></li>
                        <li><a href="#">Сферы деятельности</a><i class="icon-triangle"></i></li>
                        <li><a href="#">Партнеры</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </nav>
            </div>
            <div class="phone-number">
                <a href="tel:(495) 739-25-23">(495) 739-25-23</a>
            </div>
        </div>
    </div>
</header>