
.icon-arrow:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-triangle:before { content: '\e803'; } /* '' */
.icon-dot:before { content: '\e804'; } /* '' */